.App {
    font-family: sans-serif;
    text-align: center;
  };
  
  .carousel-inner > .item {
    height: 200px;
 }

 .height-adjust {
     max-height: 400px;
     object-fit: cover;
 }

 .imgContainer {
    position: relative;
    text-align: center;
    color: #0D0D0D; 
    opacity: 100%;
    
 }

 .title-position {
    position: absolute;
    top: 100px;
    /* right: 50%; */
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: cursive;
  }

  .title-background-box {
    /* background-color: black; */
    background: rgba(204, 204, 204, 0.5);
    background-size: 100% auto;
    /* opacity: 0.3; */
    width: 5000px;
    height: 80px;
    padding-top: 15px;
  }

  .button-padding {
      margin-right: 30px;
      margin-left: 30px;
      margin-bottom: 30px;
  }

  .flipTitle {
    font-family: cursive;
    color: #800080;
  }

  .card-padding {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 10px;
}

.slot-card-padding {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 10px;
}

.formDiv{
    background: #DBD0F2;
    width: 500px;
    margin: auto;
    border: 3px solid #800080;
    padding: 20px;
    text-align: center;
    font-family: sans-serif ;
    font-size: medium;
} 

.date-cards{
  margin: auto;
  width: 30%;
  padding: 10px;
}

.addSpace {
  padding-top: 10px;
  padding-bottom: 10px;
  /* padding-right: 10px; */
  padding-left: 15px;
}